@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --Gradient: 90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
}

p, h1 {
    margin: 0;
}

body {
    margin: 0;
    background-image: url(./images/bg-mobile.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 7vw;
    gap: 3vh;

}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10vw;
    background-color: var(--Dark-Blue);
    color: #fff;
}

/* header part */
header {
    border-radius: .5rem;
    border-top-right-radius: 6rem;
    gap: 4vh;
}

.file-manager {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
}

.file-element {
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 7vh;
    border-radius: .5rem;
}


/* main part */
main {
    border-radius: .5rem;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
