@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --Gradient: 90deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%);
    --Pale-Blue: hsl(243, 100%, 93%);
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-Blue: hsl(229, 57%, 11%);
    --Soft-Dark-Blue: hsla(229, 57%, 11%, 0.50);
}

p, h1 {
    margin: 0;
}

body {
    margin: 0;
    background-image: url(./images/bg-mobile.png);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    padding: 0 7vw;
    gap: 3vh;

}

.content-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--Dark-Blue);
    color: var(--Pale-Blue);
}

/* header part */
header {
    padding: 10vw;
    border-radius: .5rem;
    border-top-right-radius: 6rem;
    gap: 4vh;
}

.file-manager {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
}

.file-element {
    background-color: var(--Very-Dark-Blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 7vh;
    border-radius: .5rem;
}


/* main part */
main.content-card {
    padding: 8vw;
    border-radius: .5rem;
    text-align: center;
    align-items: center;
    gap: 2vh;
}

main > p {
    font-size: 14px;
}

.progression {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70vw;
    height: 2vh;
    background-color: var(--Soft-Dark-Blue);
    border-radius: 5rem;
    padding: 2px;
}

.progress-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    height: 1vh;
    justify-content: flex-end;
    background: linear-gradient(var(--Gradient));
    width: 81.5%;
    border-radius: 5rem;
}

.min-max-space {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4vh;
}

.min-max-space > span {
    font-weight: 700;
    font-size: 3vw;
}

.space-left {
    position: absolute;
    bottom: 16.5vh;
    background-color: #fff;
    color: var(--Very-Dark-Blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-self: center;
    padding: 2vh 5vw;
    border-radius: .5rem;
    gap: 2.5vw;
}

.space-left > h1 {
    font-size: 10vw;
}

.space-left > p {
    font-size: 3.5vw;
    color: var(--Grayish-Blue);
    text-transform: uppercase;
    font-weight: 700;
}

.attribution {
  position: absolute;
  bottom: 8px;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
